<h2>Add a bookmark</h2>
<form action="/bookmarks" method="POST">
  <p>Title: <input type="text" name="title"></p>
  <p>Link: <input type="text" name="link"></p>
  <p>Category: <input type="text" name="category"></p>
  <input class="btn btn-primary" type="submit" value="submit">
</form>
