<h2> Edit Bookmark </h2>

<form method="post" action="/bookmarks/<%=@bookmark.id%>">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  <input type="text" name="content" value="<%= @bookmark.content %>">
  <input type="submit" value="submit">
</form>
