<p> Here are your bookmarks, <%= @user.username %>
<% @user.bookmarks.each do |bookmark| %>
  <div>
    <%= bookmark.title %> <br>
    <%= bookmark.link %> <br>
    <%= bookmark.category %><br><br>
  </div>
<% end %>
